.mainTitle {
  color: darkgreen;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.subTitle {
  color: beige;
  font-size: 1rem;
  font-weight: bold;
}

.heroDiv {
  margin: auto;
  max-width: 80%;
  position: relative;
}

.heroDiv img {
  position: relative !important;
}
